// Global typography stuff
html {
	font: 62.5% "news-gothic-std", "HelveticaNeueCondensed", "HelveticaNeue-Condensed", "Helvetica Neue Condensed",  "HelveticaNeueRomanCondensed", "HelveticaNeue-Roman-Condensed", "Helvetica Neue Roman Condensed", "Arial Narrow", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

body {
	font-size: 20px;
	font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
	color: $hilight-text-color;
	font-weight: normal;
}

h1 {
	font-size: 40px;
	font-size: 4rem;
	a {
		color: $hilight-text-color;
		text-decoration: none;
	}
}

h2 {
	font-size: 32px;
	font-size: 3.2rem;
}

// I know, I know, not the best, but sue the designer
textarea, input { outline: none; }

// Crazy selector stuff
::-webkit-input-placeholder { color: $hilight-text-color; }
:-moz-placeholder { color: $hilight-text-color; }
::-moz-placeholder { color: $hilight-text-color; }
:-ms-input-placeholder { color: $hilight-text-color; }


// General .site stuff

.site {

	// Header & Navigation
	.header {

		#tge-mobile-logo {
			display: none;
		}

		.navigation {
			margin: 40px auto 50px auto;
			display: table;
			width: 860px;

			ul {
				@include reset-margin-padding;
				list-style: none none;
				display: table-row;
			}

			li {
				display: table-cell;
				vertical-align: middle;
			}

			a {
				color: $main-text-color;
				font-size: 20px;
				font-size: 2rem;
				text-decoration: none;
				text-transform: uppercase;
				letter-spacing: 3px;
				letter-spacing: 0.3rem;
			}
		}

		#filter {
			display: none;
			background-color: $main-text-color;
			-moz-box-shadow: inset 0 0 10px #000000;
			-webkit-box-shadow: inset 0 0 10px #000000;
			box-shadow: inset 0 0 10px #000000;
			padding: 5px 20px;
			li {
				display: inline-block;
				margin: 0 5px;

				a {
					color: $supporting-color;
					padding: 10px;
					text-decoration: none;
					text-transform: uppercase;
					letter-spacing: 2px;
					line-height: 32px;
					line-height: 3.2rem;
					&.tag-selected {
						background-color: $supporting-color;
						color: #fff;
						border-radius: 20px;
					}
				}
			}
		}

		#tge-about {
			width: 110px;
		}
		#tge-forum {}
		#tge-filter {
			text-align: right;
		}
		#tge-night {
			text-align: right;
			width: 110px;
		}

		#tge-home a {
			@include image-replace(#fff, 124px, 66px);
			background-image: url(images/tge-green.svg);
			margin: 0 auto;
		}
	}

	// Let's set some widths
	article, .header {
		max-width: 960px;
		margin: 0 auto;
	}
}

// Content area

.post-divider {
	margin-top: 30px;
	margin-top: 3rem;
	height: 32px;
	background: url(images/gradient-white.png) top repeat-x;
}

.entry-title {
	margin-left: 50px;
}

.post-thumbnail {
	margin-bottom: 10px;
}

.entry-entry {

	a {
		color: $link-color;
		text-decoration: underline;
		&:hover {
			color: $inactive-color;
		}
	}
}

.meta-info {
	margin-top: 30px;
	margin-left: 50px;
	float: left;
	width: 165px;
	line-height: 24px;
	line-height: 2.4rem;
	font-size: 16px;
	font-size: 1.6rem;
}

.author-and-date p {
	margin: 0;
}

.entry-tags {
	margin-top: 50px;
	width: 165px;
	line-height: 1.4em;
	color: $link-color;
}

.entry-content {
	width: 695px;
	float: right;

	> p {
		&:first-child {
			font-size: 26px;
			font-size: 2.6rem;
			line-height: 32px;
			line-height: 3.2rem;    
		}
	}

	p {
		font-size: 20px;
		font-size: 2rem;
		line-height: 32px;
		line-height: 3.2rem;
		max-width: 645px;
		max-width: 64.5rem;
	}

	blockquote {
		background-color: $supporting-color;
		padding: 10px 40px;

		&.smallquote {
			width: 365px;
			float: right;
			&:after {
				clear: right;
			}
		}

		p {
			font-size: 32px;
			font-size: 3.2rem;
			line-height: 40px;
			line-height: 4rem;
			color: $dark-grey;
			font-style: italic;
		}
	}

	.lead {
		font-size: 26px;
		font-size: 2.6rem;
		line-height: 32px;
		line-height: 3.2rem;
	}

	.more-link {
		font-size: 24px;
		font-size: 2.4rem;
	}

	.wp-caption {
		margin-top: 40px;
		margin-left: -50px;

		&.alignleft {
			width: 465px;
			margin-left: -265px;
			float: left;
			margin-right: 50px;
			margin-top: 10px;
			margin-bottom: 20px;
		}

		.wp-caption-text {
			text-indent: 50px;
			font-style: italic;
			font-size: 16px;
			font-size: 1.6rem;
			line-height: 24px;
			line-height: 2.4rem;
		}
	}
}

.navigate-search {
	margin: 40px auto;
	width: 960px;

	.navigate-left, .navigate-right {
		width: 215px;
		float: left;
	}

	.navigate-left {

	}

	.navigate-search-form {
		float: left;
		max-width: 430px;
		max-width: 43rem;
		margin-left: 50px;
		margin-left: 5rem;
	}

	.navigate-right {
		margin-left: 50px;
		margin-left: 5rem;
		text-align: right;
	}
}


.btn-active, .btn-inactive {
	a {
		font-size: 26px;
		font-size: 2.6rem;
		padding: 14px 50px;
		color: #ffffff;
		text-transform: uppercase;
		text-decoration: none;
	}
}

.btn-active {
	a {
		background-color: $supporting-color;
	}
}

.btn-inactive {
	a {
		background-color: $inactive-color;
	}
}

// Searchform styling
#searchform {
	label {
		@include image-replace(#fff, 43px, 43px);
		background-image: url(images/search.png);
		float: left;
		margin-right: 7px;
		margin-right: 0.7rem;
	}
	#s {
		border: none;
		border-bottom: 5px solid $supporting-color;
		color: $hilight-text-color;
		font-size: 24px;
		font-size: 2.4rem;
		line-height: 28px;
		line-height: 2.8rem;
		width: 378px;
		width: 37.8rem;
	}
	#searchsubmit {
		display: none;
	}
}

// Comments
#disqus_thread {
	max-width: 960px;
	max-width: 96rem;
	width: 960px;
	width: 96rem;
	margin: 0 auto;
}


// Page specific styling
.page {
	h1.entry-title {
		margin-bottom: 0;
	}

	p {
		a {
			color: $link-color;
			text-decoration: underline;
			&:hover {
				color: $inactive-color;
			}
		}
	}
}

// Geek specific styling
.the-geeks {
	margin-top: 30px;
	h2 {
		font-size: 32px;
		font-size: 3.2rem;
	}

	h3 {
		color: $main-text-color;
		font-size: 26px;
		font-size: 2.6rem;
	}

	img {
		margin-bottom: 30px;
		border-radius: 50%;
		width: 210px;
		height: 210px;
	}

	ul {
		@include reset-margin-padding;
		list-style: none none;
		height: 74px;
		li {
			float: left;
			margin-right: 14px;
			a {
				text-decoration: none;
			}
			.icon-primary {
				width: 44px;
				height: 44px;
				.some {
					fill: $supporting-color;
				}
			}
		}
	}

	.geek-image {
		width: 240px;
		width: 24rem;
		margin-right: 25px;
		margin-right: 2.5rem;
		float: left;
	}

	.geek-info {
		float: left;
		max-width: 645px;
		max-width: 64.5rem;
	}
}

// Footer
footer {
	color: #fff;
	background-color: $supporting-color;

	#footer-logo, .footer-info, .footer-follow, .footer-copyright {
		background: $supporting-color url(images/gradient-green.png) bottom repeat-x;
		padding-bottom: 60px;
	}

	h3 {
		color: #fff;
		text-align: center;
		font-size: 20px;
		font-size: 2rem;
		text-transform: uppercase;
		letter-spacing: 3px;
	}

	p {
		color: $main-text-color;
		text-align: center;
		margin: 10px auto;
		font-size: 16px;
		font-size: 1.6rem;
		line-height: 24px;
		line-height: 2.4rem;
	}

	#footer-logo {
		padding-top: 40px;
		padding-top: 4rem;
		a {
			@include image-replace($supporting-color, 124px, 66px);
			background-image: url(images/tge-white.svg);
			margin: 0 auto;
		}
	}

	.footer-info {
		padding-bottom: 34px;

		.footer-inner {
			max-width: 960px;
			max-width: 96rem;
			margin: 0 auto;
		}

		.footer-column {
			width: 215px;
			width: 21.5rem;
			float: left;
			margin-right: 25px;
			margin-right: 2.5rem;

			&:last-child {
				margin-right: 0;
			}
		}

		p {
			max-width: 190px;
			max-width: 19rem;
		}

		a {
			color: $main-text-color;

			&:hover {
				color: #fff;
			}

			&.footer-more {
				color: #fff;
				&:hover {
					color: $main-text-color;
				}
			}
		}
	}

	.footer-follow {
		text-align: center;
		padding-bottom: 34px;
		ul {
			@include reset-margin-padding;
			list-style: none none;
			margin: 0 auto 20px auto;
			display: inline-block;
		}
		li {
			text-align: left;
			float: left;
			margin: 0 6px;

			.icon-primary {
				width: 42px;
				height: 42px;
				.some {
					fill: #ffffff;
				}
			}
		}
	}

	.footer-copyright {
		background-image: none;
		padding-bottom: 40px;
		color: #fff;
		font-size: 16px;
		font-size: 1.6rem;
		margin-bottom: 0;
	}
}
