// Global typography stuff
html {
	font: 62.5% $font-stack-body;
}

body {
	font-size: 2rem;
	color: $dark-grey;
}

h1, h2, h3, h4, h5, h6 {
	color: $hilight-text-color;
	font-family: $font-stack-headers;
	font-weight: 300;
}

h1 {
	font-size: 5rem;
	text-align: center;
	letter-spacing: 0.2rem;
	text-transform: uppercase;

	a {
		color: $hilight-text-color;
		text-decoration: none;
	}
}

h2 {
	font-size: 3.2rem;
}

// I know, I know, not the best, but sue the designer
textarea, input { outline: none; }

// Crazy selector stuff
::-webkit-input-placeholder { color: $light-gray; }
:-moz-placeholder { color: $light-gray; }
::-moz-placeholder { color: $light-gray; }
:-ms-input-placeholder { color: $light-gray; }


// General .site stuff

.site {

	// Header & Navigation
	.header {

		#tge-mobile-logo {
			display: none;
		}

		.navigation {
			margin: 40px auto 50px auto;
			display: table;
			width: 860px;

			ul {
				@include reset-margin-padding;
				list-style: none none;
				display: table-row;
			}

			li {
				display: table-cell;
				vertical-align: middle;
			}

			a {
				color: $main-text-color;
				font-size: 2rem;
				font-family: $font-stack-headers;
				font-weight: 300;
				text-decoration: none;
				text-transform: uppercase;
				letter-spacing: 0.3rem;
			}
		}

		#nav-first {
			width: 110px;
		}
		#nav-second {
			width: 257px;
		}
		#nav-third {
			text-align: right;
		}
		#nav-forth {
			text-align: right;
			width: 118px;
		}
		#tge-home {
			width: 124px;
			a {
				@include image-replace(#fff, 124px, 66px);
				background-image: url(images/tge-green.svg);
				margin: 0 auto;
			}
		}
	}

	#filter, #nav-search {
		display: none;
		background-color: $main-text-color;
		-moz-box-shadow: inset  0  10px 10px -10px #000000, inset  0 -10px 10px -10px #000000;
		-webkit-box-shadow: inset  0  10px 10px -10px #000000, inset  0 -10px 10px -10px #000000;
		box-shadow: inset  0  10px 10px -10px #000000, inset  0 -10px 10px -10px #000000;
		padding: 5px 20px;
	}

	#nav-search {
		padding: 5px 20px;
		form {
			width: 45rem;
			margin: 20px auto 20px;
			#s {
				padding: 4px;
				background-color: $main-text-color;
				margin-top: 6px;
			}
		}
	}

	#filter {

		ul {
			max-width: 960px;
			margin-left: auto;
			margin-right: auto;

			li {
				display: inline-block;
				margin: 0 5px;

				a {
					color: $supporting-color;
					padding: 10px 25px;
					text-decoration: none;
					text-transform: uppercase;
					letter-spacing: 2px;
					line-height: 4.6rem;
					font-size: 1.6rem;
					&.tag-selected {
						background-color: $supporting-color;
						color: #fff;
						border-radius: 22px;
					}
				}
			}
		}
	}

	// Let's set some widths
	article, .header {
		max-width: 960px;
		margin: 0 auto;
	}
}

// Content area

.post-divider {
	margin-top: 3rem;
	height: 32px;
	background: url(images/gradient-white.png) top repeat-x;
}

.no-top-divider {
	margin-top: 0;
}

.entry-title {
	margin-left: 50px;
}

.post-thumbnail {
	margin-bottom: 10px;
}

.entry-entry {

	a {
		color: $dark-grey;
		text-decoration: none;
		border-bottom: 1px solid $dark-grey;
		transition: border 0.4s ease-in-out 0s;
		&:hover {
			border-bottom-color: $link-color;
		}
	}
}

.meta-info {
	margin-top: 30px;
	margin-left: 50px;
	float: left;
	width: 165px;
	line-height: 2.4rem;
	font-size: 1.6rem;
	font-family: $font-stack-headers;

	.author-and-date p {
		margin: 0;
	}

	.entry-tags {
		margin-top: 50px;
		width: 165px;
		line-height: 1.4em;
		color: $dark-grey;
	}
}

.entry-content {
	width: 695px;
	float: right;

	> p {
		&:first-child {
			font-size: 2.6rem;
			line-height: 3.2rem;
			font-weight: 300;
		}
	}

	p {
		font-size: 2rem;
		line-height: 3.2rem;
		max-width: 64.5rem;
	}

	blockquote {
		padding: 10px 40px;
		width: 960px;
		margin-left: -265px;
		quotes: "“" "”" "‘" "’";

		&.smallquote {
			width: 365px;
			float: right;
			margin-left: 0;
			&:after {
				clear: right;
			}
		}

		p {
			quotes: "“" "”" "‘" "’";
			font-size: 3.2rem;
			font-family: $font-stack-headers;
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 8px;
			line-height: 4rem;
			color: $dark-grey;
			max-width: 100%;
			text-indent: -14px;

			&:before {
				content: open-quote;
			}

			&:after {
				content: close-quote;
			}
		}
	}

	.lead {
		font-size: 2.6rem;
		line-height: 3.2rem;
	}

	.more-link {
		font-size: 2.4rem;
	}

	.wp-caption {
		margin-top: 40px;
		margin-left: -50px;

		&.alignleft {
			width: 465px;
			margin: 10px 50px 20px -265px;
			float: left;
		}

		.wp-caption-text {
			text-indent: 50px;
			font-style: italic;
			font-size: 1.6rem;
			line-height: 2.4rem;
		}
	}
	#searchform {
		::-webkit-input-placeholder { color: $hilight-text-color; }
		:-moz-placeholder { color: $hilight-text-color; }
		::-moz-placeholder { color: $hilight-text-color; }
		:-ms-input-placeholder { color: $hilight-text-color; }

		#s {
			border-bottom: 5px solid $supporting-color;
		}
	}
}

.navigate-search {
	margin: 40px auto;
	width: 960px;

	.navigate-left, .navigate-right {
		width: 215px;
		float: right;
		font-family: $font-stack-headers;
		font-weight: 300;
	}

	.navigate-left {
		float: left;
	}

	.navigate-right {
		text-align: right;
	}
}


.btn-active, .btn-inactive {
	a {
		font-size: 2.6rem;
		padding: 14px 50px;
		color: #ffffff;
		text-transform: uppercase;
		text-decoration: none;
	}
}

.btn-active {
	a {
		background-color: $supporting-color;
	}
}

.btn-inactive {
	a {
		background-color: $inactive-color;
	}
}

// Searchform styling
#searchform {
	label {
		display: none;
	}
	.search-icon {
		float: left;
		margin-right: 1rem;
		margin-top: 3px;
		svg {
			height: 44px;
			width: 44px;
		}
	}

	#s {
		border: none;
		color: $hilight-text-color;
		font-size: 2.4rem;
		line-height: 2.8rem;
		width: 37.8rem;
	}
	#searchsubmit {
		display: none;
	}
}

// Comments
#disqus_thread {
	max-width: 96rem;
	width: 96rem;
	margin: 0 auto;

	a {
		color: $link-color;
		text-decoration: underline;
		transition: color 0.4s ease-in-out 0s;
		&:hover {
			color: $dark-grey;
		}
	}
}


// Page specific styling
.page {
	h1.entry-title {
		margin-bottom: 0;
	}

	p {
		a {
			color: $link-color;
			text-decoration: underline;
			transition: color 0.4s ease-in-out 0s;
			&:hover {
				color: $dark-grey;
			}
		}
	}
}

// Geek specific styling
.the-geeks {
	margin-top: 30px;
	h2 {
		font-size: 3.2rem;
	}

	h3 {
		color: $main-text-color;
		font-size: 2.6rem;
	}

	img {
		margin-bottom: 30px;
		border-radius: 50%;
		width: 210px;
		height: 210px;
	}

	ul {
		@include reset-margin-padding;
		list-style: none none;
		height: 74px;
		li {
			float: left;
			margin-right: 14px;
			a {
				text-decoration: none;
				&:hover {
					.some {
						fill: $dark-grey;
					}
				}
			}
			.icon-primary {
				width: 44px;
				height: 44px;
				.some {
					transition: fill 0.4s ease-in-out 0s;
					fill: $supporting-color;
				}
			}
		}
	}

	.geek-image {
		width: 24rem;
		margin-right: 2.5rem;
		float: left;
	}

	.geek-info {
		float: left;
		max-width: 64.5rem;
	}
}

// Footer
footer {
	color: #fff;
	background-color: $supporting-color;

	#footer-logo, .footer-info, .footer-follow, .footer-copyright {
		background: $supporting-color url(images/gradient-green.png) bottom repeat-x;
		padding-bottom: 60px;
	}

	h3 {
		color: #fff;
		text-align: center;
		font-size: 2rem;
		text-transform: uppercase;
		letter-spacing: 3px;
	}

	p {
		color: $main-text-color;
		text-align: center;
		margin: 10px auto;
		font-size: 1.6rem;
		line-height: 2.4rem;
	}

	#footer-logo {
		padding-top: 4rem;
		a {
			@include image-replace($supporting-color, 124px, 66px);
			background-image: url(images/tge-white.svg);
			margin: 0 auto;
		}
	}

	.footer-info {
		padding-bottom: 34px;

		.footer-inner {
			max-width: 96rem;
			margin: 0 auto;
		}

		.footer-column {
			width: 21.5rem;
			float: left;
			margin-right: 2.5rem;

			&:last-child {
				margin-right: 0;
			}
		}

		p {
			max-width: 19rem;
		}

		a {
			color: $main-text-color;

			&:hover {
				color: #fff;
			}

			&.footer-more {
				color: #fff;
				&:hover {
					color: $main-text-color;
				}
			}
		}
	}

	.footer-follow {
		text-align: center;
		padding-bottom: 34px;
		ul {
			@include reset-margin-padding;
			list-style: none none;
			margin: 0 auto 20px auto;
			display: inline-block;
		}
		li {
			text-align: left;
			float: left;
			margin: 0 6px;

			a {
				&:hover {
					.some {
						fill: $dark-grey;
					}
				}
			}

			.icon-primary {
				width: 42px;
				height: 42px;
				.some {
					fill: #ffffff;
					transition: fill 0.4s ease-in-out 0s;
				}
			}
		}
	}

	.footer-copyright {
		background-image: none;
		padding-bottom: 40px;
		color: #fff;
		font-size: 1.6rem;
		margin-bottom: 0;
	}
}
