// This is just placeholder mobile styling, it's meant to make the site readable, and not actually mobile first (we went wrong with this) :(

@media only screen and (max-width: 640px) {
	.site {

		.header {
			padding: 20px 20px 0;

			#tge-mobile-logo {
				display: block !important;
				a {
					@include image-replace(#fff, 124px, 66px);
					background-image: url(images/tge-green.svg);
					margin: 10px auto 30px;
				}
			}

			.navigation {
				width: 100%;
				display: block;
				margin: 0;

				ul {
					display: block;

					li {
						width: 100%;
						display: block;
						margin-bottom: 10px;
					}
				}

				#tge-home {
					display: none;
				}

				#tge-filter, #tge-night, #tge-about, #tge-forum {
					text-align: center;
					width: auto;
				}

			}

		}

		article {
			padding: 0 20px;

			.post-thumbnail {
				img {
					max-width: 100%;
					height: auto;
				}
			}

			.meta-info {
				margin-top: 0;
				float: none;
				width: auto;

				.entry-tags {
					margin-top: 10px;
					width: auto;
				}
			}

			.entry-content {
				float: none;
				width: 100%;

				.wp-caption {
					width: 100% !important; //damn inline widths
					margin-left: 0;

					&.alignleft {
						float: none;
						margin: 30px 0 0 0;
					}

					img {
						max-width: 100%;
						height: auto;
					}

					.wp-caption-text {
						text-indent: 0;
					}
				}

				blockquote {
					&.smallquote {
						width: auto;
						float: none;
					}
				}

			}

		}

		.navigate-search {
			padding: 0px 20px 0;
			margin-top: 10px;
			width: auto;

			.navigate-left, .navigate-right {
				width: auto;
				float: none;
				margin: 10px 0;
			}

			.navigate-search-form {
				float: none;
				margin-left: 0;
			}
		}

		#searchform {
			width: 90%;
			margin: 0 auto;
			#s {
				width: 80%;
			}
		}

		footer {
			.footer-info {
				.footer-inner {
					.footer-column {
						float: none;
						width: 90%;
						margin: 10px auto;
					}
				}
			}
			.footer-follow {
			}

			.footer-copyright {
				max-width: 90%;
			}
		}

		.the-geeks {
			.geek-image {
				float: none;
				width: auto;
				text-align: center;
				margin-right: 0;
				img {
					margin-bottom: 0;
				}
			}

			.geek-info {
				float: none;

				h3 {
					text-align: center;
				}

				ul {
					text-align: center;
					height: auto;
					margin-top: -15px;
					margin-bottom: 20px;
					li {
						float: none;
						display: inline-block;
					}
				}
			}
		}

	}
}
