// This is just placeholder mobile styling, it's meant to make the site readable, and not actually mobile first (we went wrong with this) :(

@media only screen and (max-width: 640px) {
	.site {

		.tge-mobile {
			display: block !important;
			padding: 20px 20px 0;

			#tge-mobile-logo {
				width: 124px;
				position: absolute;
				left: 50%;
				margin-left: -62px;
				a {
					@include image-replace(#fff, 124px, 66px);
					background-image: url(images/tge-green.svg);
					margin: 10px auto 30px;
				}
			}

			#tge-mobile-menu {
				width: 36px;
				float: right;
				margin-top: 30px;

				svg {
					height: 36px;
					width: auto;
					.icon-path {
						fill: $inactive-color;
					}
				}
			}
		}

		.header {
			padding: 20px 0 0;

			.navigation {
				width: 100%;
				display: none;
				margin: 0;
				background: $supporting-color url(images/gradient-green.png) repeat-x;

				ul {
					display: block;

					li {
						padding: 10px 0;
						width: 100%;
						display: block;
						a {
							color: #fff;
						}
					}
				}

				#tge-home {
					display: none;
				}

				#nav-first, #nav-second, #nav-third, #nav-forth {
					text-align: center;
					width: auto;
				}

				#nav-first {
					padding-top: 20px;
				}

				#nav-forth {
					padding-bottom: 20px;
				}

			}

			#nav-search {
				margin-top: 30px;
				width: 90%;
			}
		}

		article {

			.entry-title {
				margin-left: 20px;
			}

			.post-thumbnail {
				img {
					max-width: 100%;
					height: auto;
				}
			}

			.meta-info {
				margin-top: 0;
				float: none;
				width: auto;

				.entry-tags {
					margin-top: 10px;
					width: auto;
				}
			}

			.entry-content {
				float: none;
				width: 100%;

				p, ul, ol {
					padding: 0 20px;
				}

				blockquote {
				}

				.wp-caption {
					width: 100% !important; //damn inline widths
					margin-left: 0;

					&.alignleft {
						float: none;
						margin: 30px 0 0 0;
					}

					img {
						max-width: 100%;
						height: auto;
					}

					.wp-caption-text {
						text-indent: 0;
					}
				}

				blockquote {
					&.smallquote {
						width: auto;
						float: none;
					}
				}

			}

		}

		.navigate-search {
			padding: 0px 20px 0;
			margin-top: 10px;
			width: auto;

			.navigate-left, .navigate-right {
				width: auto;
				float: none;
				margin: 10px 0;
			}

			.navigate-search-form {
				float: none;
				margin-left: 0;
			}
		}

		#searchform {
			width: 90%;
			margin: 0 auto;
			#s {
				width: 80%;
			}
		}

		footer {
			.footer-info {
				.footer-inner {
					.footer-column {
						float: none;
						width: 90%;
						margin: 10px auto;
					}
				}
			}
			.footer-follow {
			}

			.footer-copyright {
				max-width: 90%;
			}
		}

		.the-geeks {
			.geek-image {
				float: none;
				width: auto;
				text-align: center;
				margin-right: 0;
				img {
					margin-bottom: 0;
				}
			}

			.geek-info {
				float: none;

				h3 {
					text-align: center;
				}

				ul {
					text-align: center;
					height: auto;
					margin-top: -15px;
					margin-bottom: 20px;
					li {
						float: none;
						display: inline-block;
					}
				}
			}
		}

	}
}
